<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Préparation de la mission</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Sélection de l'équipe pour la mission <span th:text="${mission.nom}"> Nom </span>.</h1>
        </div>
    </div>
    <h3>Équipe</h3>
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <tbody>
                <tr th:if="${persosSelectionnes.empty}">
                    <td colspan="2"> Aucun personnage sélectionné</td>
                </tr>
                <tr th:each="perso : ${persosSelectionnes}">
                    <td>
                        <span th:text="${perso.nom}"> Nom </span>
                    </td>
                    <td>
                        <a th:href="@{/retirer-perso/mission/{idMission}/perso/{idPerso}(idMission=${mission.id}, idPerso=${perso.id})}">
                            <button type="button" class="btn btn-primary">Retirer de l'équipe</button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div th:if="${persosSelectionnes.size < 4}">
        <h3>Personnages sélectionnables</h3>
        <div class="row">
            <div class="col-md-6">
                <table class="table">
                    <tbody>
                    <tr th:if="${persosDispos.empty}">
                        <td colspan="2"> Aucun personnage disponible</td>
                    </tr>
                    <tr th:each="perso : ${persosDispos}">
                        <td>
                            <span th:text="${perso.nom}"> Nom </span>
                        </td>
                        <td>
                            <a th:href="@{/ajouter-perso/mission/{idMission}/perso/{idPerso}(idMission=${mission.id}, idPerso=${perso.id})}">
                                <button type="button" class="btn btn-primary">Ajouter à l'équipe</button>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div th:unless="${persosSelectionnes.size < 4}">
        <a th:href="@{/executer-mission/mission/{idMission}(idMission=${mission.id})}">
            <button type="button" class="btn btn-primary">Lancer la mission</button>
        </a>
    </div>
</div>
</body>
</html>