<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Missions</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Préparation de mission </h1>
        </div>
    </div>
    <div class="row">
        Préparation de la mission <span th:text="${mission.name}"> Name </span>.
        <br/>Sélection de l'équipe :

    </div>
</div>
</body>
</html>